@import '../node_modules/bulma/bulma.sass';

$font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium, Avenir, Corbel, Arial, Helvetica, sans-serif;

$background-color: 343434;
$font-color: #dedede;

body {
	font-size: 1.2em;
}